* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 200vh;
    background-color: #f3f3f3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* container */

.container {
    width: 90%;
    max-width: 1200px;
    height: 720px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 0px #ccc;
}

.container .container-title {
    width: 100%;
    height: 70px;
    background-color: #f9a134;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.container .container-title h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 400;
}

/* form */

form {
    width: 100%;
    height: calc(100% - 70px);
    padding:  20px;
    display: flex;
    flex-wrap: wrap;
}

form > div {
    display: flex;
    flex-direction: column;
}

/* form title (dados gerais, endereço, linguagens de programação) */
form .title {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
    font-size: 20px;
    color: #444;
}

/* form content below title (fields) */
form .content {
    height: 100%;
    display: flex;
}

/* fields */
form .content .field {
    width: 47%;
    display: flex;
    flex-direction: column;
}

/* span (error message) */
form .content span {
    color: red;
    font-size: 14px;
}

/* inputs and textareas (individual styles_ */
form .content input,
form .content textarea {
    margin: 5px 0 10px 0;
    border: 1px solid #bbb;
    outline: none;
}

form .content input {
    height: 30px;
    padding: 0 5px;
}

form .content textarea {
    padding: 10px;
    resize: none;
}


/* individual divs or forms */
form .data {
    flex-basis: 50%;
    height: 55%;
    padding-bottom: 30px;
}

form .data .content {
    flex-wrap: wrap;
    justify-content: space-between;
}

/* textarea fields */
.data .content .field:last-child {
    width: 100%;
}


form .address {
    flex-basis: 50%;
    height: 55%;
    padding-left: 30px;
    padding-bottom: 30px;
}

form .address .content {
    height: 70%;
    flex-direction: column;
    flex-wrap: wrap;
}

form .address .mg {
    margin-left: 32px;
}

form .address .small-fields {
    width: 47%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .content .small-fields .field {
    width: 47%;
}


form .languages {
    flex-basis: 100%;
    height: 40%;
}

form .languages .content {
    height: 70%;
}

form .languages .content .developer,
form .languages .content .programming-languages {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

form .languages .content .developer {
    width: 20%;
}

form .languages .content .programming-languages {
    width: 80%;
}

form .languages .content .option {
    display: flex;
    align-items: center;
    height: 30px;
}

form .languages .content .option label {
    margin: 0 0 5px 5px;
}

/* submit button */

form .buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}

form .buttons input {
    width: 80px;
    height: 30px;
    cursor: pointer;
    border: none;
    outline: none;
    border: 1px solid #bbb;
    border-radius: 3px;
}


/* result container */

.result .content {
    width: 100%;
    height: calc(100% - 70px);
    padding:  20px;
}